POSTGRES_DB=monica
POSTGRES_USER=monica
POSTGRES_PASSWORD=monica_secret

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

SMB_USERNAME=d.mangasaryan
SMB_PASSWORD=
SMB_DOMAIN=
SMB_DEVICE=//192.168.1.198/Files/Электронный АРХИВ/MinioMonica
